.encounterContainer {
  background: inherit;
}

.encounters {
  display: inline-flex;
  gap: 10px;

  background: inherit;
}

.encounter {
  display: flex;
  flex-direction: column;

  width: 150px;

  span {
    padding: 5px;
  }
}

.encounterHeader {
  text-align: center;

  h3 {
    margin: 0 0 5px;
  }
}

.sectionHeader {
  margin-top: 5px;
  background: #404244;

  text-align: center;
}
