.container {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 20px;

  gap: 10px;

  a {
    text-decoration: none;
    color: white;
  }
}

.encounter {
  padding: 5px;

  border: 2px solid #ffffff80;

  &.selected {
    border-color: #2196f3;
  }
}
