.encounters {
  display: flex;

  gap: 10px;
}

.encounter {
  display: flex;
  flex-direction: column;

  width: 150px;

  span {
    padding: 5px;
  }
}

.encounterHeader {
  text-align: center;
}

.sectionHeader {
  margin-top: 5px;
  background: #404244;

  text-align: center;
}
