@import "/src/app/variables.scss";

.container {
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    text-decoration: none;
    color: white;
  }
}

.raid {
  display: flex;
  justify-content: space-between;

  padding: 20px 10px;

  background: $grey-800;
  border-radius: 5px;

  &:hover {
    background: $grey-700;
  }

  .date {
    width: 150px;
  }
}
