@import "/src/app/variables.scss";

.encounters {
  display: inline-flex;
  gap: 10px;
}

.encounter {
  display: flex;
  flex-direction: column;

  width: 150px;

  span {
    padding: 5px;
  }
}

.encounterHeader {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3 {
    margin: 0;
  }
}

.sectionHeader {
  margin-top: 5px;
  background: $grey-800;

  text-align: center;
}
