.frames {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.group {
  display: flex;
  gap: 5px;

  width: calc(150 * 5 + 5 * 4) px;
}

.frame {
  width: 120px;
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
